
# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Firebase Service Account Key (Sensitive)
serviceAccountKey.json

# Logs
npm-debug.log
error.log
error.txt

# OS Files
.DS_Store
Thumbs.db
